<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "TàiChính360.net", root_path, class: "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Giới thiệu</a>
                </li>
                <!-- <li>
                    <a href="#">Services</a>
                </li> -->
                <li>
                    <a href="#">Liên hệ</a>
                </li>
                <!-- <li> -->
                    <%#= link_to "Offices", offices_path %>
                <!-- </li> -->
                <% if user_signed_in? %>
                    <li>
                        <% if current_user.office.nil? %>
                          <%= link_to "Mở văn phòng tư vấn", new_office_path %>
                        <% end %>
                    </li>

                    <li>
                        <%= link_to "Messages", chat_rooms_path %>
                    </li>

                    <li class="dropdown">
                        <div >
                          <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="user">
                            <% if current_user.avatar_url %>
                              <%= image_tag(current_user.avatar_url(:header_avatar)) %>
                              <%#= image_tag("http://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png",
                              width: 48, height: 48, crop: :thumb, gravity: :face, radius: 5) %>
                            <% else %>
                              <%= image_tag("http://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png",
                              width: 48, height: 48, crop: :thumb, gravity: :face, radius: 5) %>
                            <% end %>
                            <%= current_user.full_name %> <span class="caret"></span>
                          </div>
                          <ul class="dropdown-menu">
                            <li>
                              <%= link_to "Chỉnh sửa profile", edit_user_registration_path %>
                            </li>
                            <li>
                              <%#= link_to t("header.view_profile"),
                                user_path(current_user), class: "navbar-link" %>
                            </li>
                            <li>
                              <% if current_user.office.present? %>
                                <%= link_to "Quản lý văn phòng", office_path(current_user.office) %>
                              <% else %>
                                <%= link_to "Quản lý văn phòng", new_office_path %>
                              <% end %>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li>
                              <%= link_to "Đăng xuất",
                                destroy_user_session_path, method: :delete %>
                            </li>
                          </ul>
                        </div>
                      </li>
                <% else %>
                    <li><%= link_to "Đăng nhập", user_session_path, class: "navbar-link" %></li>
                    <li><%= link_to "Đăng ký", new_user_registration_path, class: "navbar-link" %></li>
               <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
