<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <title>Tài Chính 360</title> -->
  <title>xyz</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="css/heroic-features.css" rel="stylesheet"> -->

</head>

<body>
    <!-- Navigation -->
    <%= render "shared/header" %>

    <!-- Page Content -->
    <div class="container">
      <%= yield %>

      <%= render "shared/footer" %>

    </div>
</body>

</html>
